
@{
    ViewBag.Title = "aboutVision";
    Layout = "~/Views/Shared/_alharamLayout.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in"   
 style="background-color:#a24430">
        <div class="container" 
 style="background-color:#a24430">
            <h2>About the vision</h2>
            <p>Good friendliness to the intended. </p>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/imgProject/5.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">The message</a></h5>
                            <p class="fst-italic text-center"></p>
                            <p class="card-text">Good service to those visitors of Holy Mosque, to achieve the methodology of one-body and sensing the greatness of the Muslims’ Qibla and the desires of their hearts</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/imgProject/4.JPG" alt="...">
               
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Objectives</a></h5>
                            <p class="fst-italic text-center"></p>
                            <p class="card-text">It is to save time and effort for those who want to search for a specific place in the central area of the Great Mosque of Mecca, so that a list of restaurants and hotels and barbershops has been collected, and we also offer a mini map of the courtyards of the Haram</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Events Section -->

</main><!-- End #main -->
