
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_alharamLayout.cshtml";
}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in" 
style="background-color:#e59830">
        <div class="container" 
style="background-color:#e59830">
            <h2>About Us</h2>
            <p>This project was developed by the students of <b>Shaqra University</b> whose names are mentioned below.<br />It is a field training project and it was carried out under the supervision of <b>Eng.Ali Mohmaed Hamidaddin</b><br>
                at <b>King Fahd Medical City</b></p>
           
            
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <p>Team names</p>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
              
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="~/imgProject/testimonials/p1.png" class="testimonial-img" alt="">
                                <h3>2144 </h3>
                                <h4>Leader</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#65443a"></i>
                                    SA IR2 Rokaya Elkasas SU 2022.
                                    <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#65443a"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="~/imgProject/testimonials/p2.JPG" class="testimonial-img" alt="">
                                <h3>1981</h3>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#65443a"></i>
                                    SA IR2 Ameerah Alhafi Su 2022.
                                    <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#65443a"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="~//imgProject/testimonials/p3.jpeg" class="testimonial-img" alt="">
                                <h3>2030 </h3>

                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#65443a"></i>
                                    SA IR2 Munira alotibi Sum 2020.
                                    <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#65443a"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="~//imgProject/testimonials/p4.jpeg" class="testimonial-img" alt="">
                                <h3>1794</h3>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#65443a"></i>
                                    SA IR2 Sarah Salameh Sum 2022.
                                    <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#65443a"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="~//imgProject/testimonials/p5.jpeg" class="testimonial-img" alt="">
                                <h3>1966</h3>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left" style="color:#65443a"></i>
                                    SA IR2 Sultanah Assaf Alotibi Sum2022.
                                    <i class="bx bxs-quote-alt-right quote-icon-right" style="color:#65443a"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->


                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

</main><!-- End #main -->
