
@{
    ViewBag.Title = "contactMessage";
    Layout = "~/Views/Shared/_alharamLayout.cshtml";
}


<main id="main" data-aos="fade-in">


    <div class="breadcrumbs" style="background-color:white">
        <div class="container">


            <section id="courses" class="courses">
                <div class="container" data-aos="fade-up">

                    <h4 style="color:lightslategray">@TempData["Message"]</h4>
                </div>
            </section>
        </div>
    </div>
</main>



