
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_alharamLayout.cshtml";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>Welcome,<br>Your Guide to  Alharam </h1>
        <h2>We are pleased to serve visitors of Holy Mosque</h2>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1UfL5GW_3hgnj-Dfw6S7Jc0XcVO8&ehbc=2E312F" width="640" height="480"></iframe>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                       <h3>Alharam Map</h3>
                        <p class="fst-italic">
                           Here are the doors of the Holy Mosque and the most important landmarks and services that you may need when visiting the Holy Mosque
                        </p>
</div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23795548&ctz=Asia%2FRiyadh&hl=en&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%2333B679" style="border:solid 1px #777" width="500" height="300" frameborder="0" scrolling="no"></iframe>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>To write your notes</h3>
                    <p class="fst-italic">
                       You can take notes by days using the this calendar
                    </p>
                </div>
            </div>

        </div>

    </section><!-- End Counts Section -->

